<launch>
	<!-- Start VRPN Client node: getting data from Optitrack -->
	<include file="/home/marko/catkin_ws/src/vrpn_client_ros/launch/across.launch"/>
	<!--inlude file="$HOME/catkin_ws/src/vrpn_client_ros/launch/borongaj.launch"/-->

	<!-- Start Joy node: user control with joystick -->
	<node pkg="joy" type="joy_node" name="JoyInput">
		<!-- REPLACE jsX WITH THE RIGHT JOYSTICK IDENTIFIERˇˇˇ-->
		<param name="dev" type="string" value="/dev/input/js1" />
		<param name="deadzone" value="0"/>
	</node>

	<!-- Start Optitrack node: calculating and distributing postion data -->
	<node pkg="tic_tac_drone" type="OptitrackNode.py" name="Optitrack">
		<remap from="MyUAV/pose" to="vrpn_client_node/UAV1/pose"/>
		<remap from="OpUAV/pose" to="vrpn_client_node/UAV2/pose"/>
	</node>

	<node pkg="tic_tac_drone" type="ControllerNode.py" name="Controller">
		<remap from="joystick_input" to="joy"/>
		<param name="sensitivity" value="0.4"/>
		<param name="yaw_rate" value="0.2"/>

	</node>

	<node pkg="rosserial_python" type="serial_node.py" name="rosserial">
		<param name="port" value="/dev/ttyUSB1"/>
	</node>
</launch>