<launch>
	<!-- Start VRPN Client node: getting data from Optitrack -->
	<include file="/home/marko/catkin_ws/src/vrpn_client_ros/launch/across.launch"/>
	<!--inlude file="$HOME/catkin_ws/src/vrpn_client_ros/launch/borongaj.launch"/-->

	<!-- Start Joy node: user control with joystick -->
	<node pkg="joy" type="joy_node" name="ManControl">
		<!-- REPLACE jsX WITH THE RIGHT JOYSTICK IDENTIFIER -->
		<param name="joy_node/dev" value="/dev/input/jsX"/>
	</node>

	<!-- Start Optitrack node: calculating and distributing postion data -->
	<node pkg="tic_tac_drone" type="OptitrackNode.py" name="Optitrack">
		<remap from="MyUAV/pose" to="vrpn_client_node/UAV1/pose"/>
		<remap from="OpUAV/pose" to="vrpn_client_node/UAV2/pose"/>
	</node>
</launch>